<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simulation Visualization Tool</title>
</head>
<body>
    <h1>Simulation Visualization</h1>
    <label for="">Sensor:</label>
    <span id="sensor"></span>
    <canvas id="graph" width="500" height="500">

    </canvas>
    <script src="/static/fabric.js"></script>
    <script src="/static/script.js"></script>

</body>
</html>